:root {
    --text: #0e1f25;
    --backGround: #c5d5cb;
    --primaryButton: #778674;
    --secondaryButton: #effeec;
    --accent: #d2dfa9;
}

body {
    width:100vw;
    height: 100vh;
    background-color: var(--backGround);
    margin: 0;
    display: flex;
    flex-direction: column;
}

.header {
    background-color: white;
    width: 100vw;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    position: fixed;
    top: 0%; 
    opacity: .8;

}

.footer {
    margin-bottom: 1rem;
    background-color: white;
    width: 100vw;
    position: fixed;
    bottom: 0%;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0.80;
}

.header > h3 {
    margin: 0;
    font-size: 35px;
}

.bookshelf {
    width: 100vw;
    display: grid;
    gap: 3rem;
    padding: 125px 40px 40px 40px;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
}

button {
    cursor: pointer;
}

form {
    border: solid black 1px;
    background-color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 2rem;
    position: absolute;
    left:40%;
    right:40%;
    top: 10rem;
    border-radius: 7px;
}

.hide {
    display:none;
}

.closeForm {
    font-size: 25px;
    margin: 0px;
    background: none;
    border: none;
    position: absolute;
    top: 4%;
    right: 4%;
}

.closeForm:hover, .delete:hover {
    color: white;
    -webkit-text-stroke: 2px black;
}

.delete {
    margin: 0px; 
    background: none;
    font-size: 30px;
    border: none;
}

form > label, button {
    margin: 20px 0px 20px 0px;
}

.new {
    background: none;
    border: black 2px solid;
    height: 2.5rem;
    width: 5rem;
    border-radius: 7px;
    background-color: var(--primaryButton);
}

.new:hover {
    background-color: var(--accent);
}

.placeholder > .readStatus {
    align-self: end;
    justify-self: end;
}

.placeholder {
    border: 2px black solid;
    max-width: 450px;
    max-height: 200px;
    background-color: #fff;
    padding: 2rem;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    border-radius: 10px;
    opacity: 0.8;
    -webkit-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 5px -6px rgba(0,0,0,0.75);
}

.placeholder > h3 {
    font-size: 25px; 
}

.placeholder > p:first-of-type{
    align-self:start;
    justify-self:start;
    margin: 0;
    grid-column-start:1;
    grid-row-start: 3;  
}

.placeholder > p:last-of-type{
    align-self:start;
    justify-self:start;
    margin: 0;  
    grid-column-start: 1;
    grid-row-start: 2;
}
.placeholder > button:nth-of-type(2) {
    grid-row-start: 1;
    grid-column-start: 2;
    margin: 0;
    align-self: start;
    justify-self: end;
}
.placeholder > button:first-of-type {
    grid-row-start: 3;
    grid-row-end: 3;
    grid-column-start: 2;
    justify-self: end;
    margin: 0;
    background: none; 
}

.✓Read {
    color: green;
}

.placeholder > .✓Read:hover {
    background-color: var(--primaryButton);
    color: var(--backGround);
}

.placeholder > button {
    padding: 10px 20px;
    margin: 0 50px;
}

.✖Read {
    color: #742040;
}

.placeholder > .✖Read:hover {
    background-color: #742040;
    color: black;
}

.placeholder > .readButton {
    border-radius: 10px;
}

.submit {
    background-color: var(--accent);
    border: 2px black solid;
    border-radius: 5px;
    padding: 10px 20px;
}

.submit:hover {
    background-color: white;
    color: var(--primaryButton);
}